# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Introduction to LangChain/*
!/Introduction to LangChain/task/
/Introduction to LangChain/task/*
!/Introduction to LangChain/task/planets
!/Introduction to LangChain/task/main.py
/Introduction to LangChain/task/.env